*.vo
*.glob
*.v.d

*.v#

*.aux

*.make

*.d

*.fls

*.log

*.out

*.py

*.err

HoTT.pdf

Reading_HoTT_in_Coq.v

*.swp

*.temp

tex/Makefile

tex/hott-exercises.toc

.#chap03.v

tex/hott-exercises.run.cookie
